body, input, button {
  font-family: 'Kite One', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.App {
  text-align: center;
}

.step-frame {
  padding: 0 10px;
  border: 1px solid gray;
}

@media all and (min-width: 768px) {
  .step-frame {
    width: 50vw;
  }
}

.wizard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.mobile-step, .verify-step {
  display: flex;
  flex-direction: row;
  align-items: center
}

.verify-step .verify-input {
  display: flex;
  flex-direction: row;
}

.verify-step .verify-input input {
  margin: 0 5px;
  text-align: center;
}

.mobile-step img, .verify-step img {
  max-width: 400px;
}

.mobile-step form, .verify-step form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1
}

.mobile-step .mobile-input .phone-input {
  margin-left: 10px;
  width: 250px;
}

.big-input {
  height: 50px;
  width: 50px;
  border-radius: 4px;
  border: 2px solid gray;
  padding: 0 10px;
}

.big-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #dddddd;
  border: 2px solid grey;
  padding: 10px;
  width: 250px;
  margin-top: 30px;
}

.big-button span {
  margin-left: 10px;
  font-size: 15px;
  font-weight: initial;
}

.register-step {
  padding: 20px;
}

.register-step form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.register-step form .profile-form {
  width: 50%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.register-step form .profile-form svg {
  margin-left: 10px;
  cursor: pointer;
}

.register-step form .profile-form label {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 100px;
}

.register-step form .profile-form label input, .register-step select {
  width: 200px;
  margin-top: 20px;
  height: 25px;
  padding: 2px;
}

.register-step select {
  height: 30px;
}